<!DOCTYPE html>
<html>
<head>
<style> 
#myDIV {
    width: 800px;
    height: 200px;
    background: red;
    text-align :center
}
</head>
<body>
<title> My x-ms-webview </title>
<p>hcchgc</p>
</body>
</html>

